<% if @blog.errors.any? %>
    <div id="error_explanation">
        <h2><%= @blog.errors.count %>件のエラーがあります</h2>
        <ul>
            <% @blog.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
        </ul>
    </div>
<% end %>

<%= form_for(@blog, url: chose_create_or_update) do |f| %>
    <div class="form-group">
        <%= f.hidden_field :user_id %>
        <p>ユーザーID:<%= @blog[:user_id] %></p>
    </div>
    <div class="form-group">
        <p>お名前:<%= User.find(@blog[:user_id]).name %></p>
    </div>
    <div class="form-group">
        <%= f.text_field :title, class: "form-control", placeholder: "タイトル" %>
    </div>
    <div class="form-group">
    <%= f.text_field :content, class: "form-control", placeholder: "内容" %>
    </div>
    <%= f.submit "登録", class: "btn btn-primary btn-block" %>
<% end %>
<br>
<%= link_to "go to index page", blogs_path %> 