<div class="container">
    <div class="blog-content col-md-6 col-md-offset-3 col-sm-10 col-sm-offset-1">
        <h2>確認画面</h2>
        <%= form_for(@blog) do |f| %>
            <%= f.hidden_field :user_id %>
            <%= f.hidden_field :title %>
            <%= f.hidden_field :content %>
            <p>ユーザーID:<%= @blog.user_id %></p>
            <p>お名前:<%= User.find(@blog.user_id).name %></p>
            <p>タイトル:<%= @blog.title %></p>
            <p>内容:<%= @blog.content %></p>
            <%= f.submit "OK", class: "btn btn-primary btn-block" %>
            <%= f.submit "戻る", name: "back", class: "btn btn-primary btn-block" %>
        <% end %>
    </div>
</div>
