<div class="container">
    <div class="wrapper col-mod-8 col-mod-offset-2 col-sm-10 col-sm-offset-1">
        <!-- 追記部分 開始 -->
        <% flash.each do |key, value| %>
            <%= content_tag(:div, value, class: "#{key}") %>
        <% end %>
        <!-- 追記部分 終了-->
        
        <h1>Blogs!</h1>
        
        <%= link_to "write a new blog", new_blog_path , data: {confirm: "are you sure?"} %>
        
        <% @blogs.each do |blog| %>
            <div class="row">
                <p><%= blog.title %></p>
                <p><%= blog.content %></p>
                <%= link_to "edit this blog", edit_blog_path(blog.id), data: {confirm: "are you sure?"} %>
                <%= link_to "delete this blog", "/blogs/#{blog.id}", method: :delete, data: {confirm: "are you sure?"} %>
            </div>
        <% end %>
    </div>
</div>
<div class="bottom-adaptor"></div>
<div id="page-top-btn" class="page-top-btn">
    <p><a class="move-page-top" id="move-page-top">▲</a></p>
</div>